{% load my_tags %}
<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    .price {
        margin-top: auto;
    }
</style>

<div class="col-4">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.preview | my_media }}" alt="{{ object.name }}" />
            <p>{{ object.description }}</p>
            <div class="price"><h2 class="card-title pricing-card-title">{{ object.price }} руб</h2></div>
            <div class="btn-group">
                <a href="{% url 'catalog:product' object.pk %}" type="button"
                   class="btn btn-lg btn-secondary text-grey">Посмотреть товар
                </a>
                <button type="button" class="btn btn-lg btn-success text-white">Купить</button>
            </div>
        </div>
    </div>
</div>